<!DOCTYPE html>
<html lang="en" ng-app="cour">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uni-X</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<!-- load up our app -->
<script src="js/course/course.js"></script>
</head>

<body id="page-top" class="index" ng-controller="BgCtrl as bg">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">uni-X</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobre">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#estudantes">Estudantes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#universidades">Universidades</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cursos">Cursos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#perfil">Perfil</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header ng-style="{'background-image' : '{{bg.course.bgImg}}'}">
        <div class="container">
            <div class="intro-text">
				<div class="intro-heading">MIEIC</div>
				<div class="intro-lead-in">FEUP</div>
            </div>
        </div>
    </header>
	
		<!-- Sidebar -->
	<div class="container">
		<div class="row">
			<!--left-->
			<div class="col-md-2" id="leftCol">
				<ul class="nav nav-stacked" id="sidebar">
				  <li><h3>{{bg.course.sidebarTitle}}</h3></li>
				  <li><a href="#descricao"><h5>Descrição</h5></a></li>
				  <li><a href="#saidas"><h5>Saídas Profissionais</h5></a></li>
				  <li><a href="#vias"><h5>Vias de Acesso</h5></a></li>
				  <li><a href="#provas"><h5>Provas de Ingresso</h5></a></li>
				  <li><a href="#plano"><h5>Plano Curricular</h5></a></li>
				  <li><a href="#estatisticas"><h5>Dados Estatísticos</h5></a></li>
				  <li><a href="#alunos"><h5>Alunos</h5></a></li>
				  <li><a href="#projetos"><h5>Projetos Desenvolvidos</h5></a></li>
				</ul>
			</div><!--/left-->
	
	<!-- Intro Section -->
	<div class="col-md-10">
    <section id="descricao">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading"><br>Descrição</h2>
                    <h3 class="section-subheading text-muted">{{bg.course.presSub}}</h3>
                    <p align="left" ng-bind-html="bg.course.presText| unsafe"></p>
				</div>
            </div>
		</div>
	</section>
	
    <section id="saidas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Saídas Profissionais</h2>
                    <p align="left" ng-bind-html="bg.course.saidasText| unsafe"></p>
            </div></div>
        </div>
    </section>
	
	<!-- Gallery Section -->
    <section id="vias">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Vias de Acesso</h2>
					<p align="left" ng-bind-html="bg.course.viasText| unsafe"></p>
					
                </div>
            </div>
        </div>
    </section>
	
	<section id="provas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Provas de Ingresso</h2>
					<p align="left">Um dos seguintes conjuntos:</p>
					<ul align="left">
						<li><h6>{{bg.provas.prova1}}</h6></li>
						<li><h6>{{bg.provas.prova2}}</h6></li>
					</ul>
					<p align="left">ou:</p>
					<ul align="left">
						<li><h6>{{bg.provas.prova3}}</h6></li>
						<li><h6>{{bg.provas.prova4}}</h6></li>
					</ul>
					
					<h4><br><br>Classificações Mínimas</h4>
					<ul align="left">
						<li><h6>Nota de candidatura</h6>100 pontos</li>
						<li><h6>Provas de ingresso</h6>95 pontos</li>
					</ul>
					
					<h4><br><br>Fórmula de cálculo</h4>
					<ul align="left">
						<li><h6>Média de secundário</h6>50%</li>
						<li><h6>Provas de ingresso</h6>50%</li>
					</ul>
                </div>
            </div>
        </div>
    </section>
	
	<section id="plano">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Plano Curricular</h2>					
					<div class="col-lg-12 span4 collapse-group" align="center">
						<p><a class="btn btn-xl" data-toggle="collapse" data-target="#view1">1.º ano</a></p>
					<div class="collapse" id="view1" align="center">
					<h4><br>1.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0011</td>
									<td>MDIS</td>
									<td>Matemática Discreta</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0083</td>
									<td>AOCO</td>
									<td>Arquitetura e Organização de Computadores</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0005</td>
									<td>FPRO</td>
									<td>Fundamentos da Programação</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0004</td>
									<td>AMAT</td>
									<td>Análise Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0003</td>
									<td>ALGE</td>
									<td>Álgebra</td>
									<td>4,5</td>
								</tr>
								<tr>
									<td>FEUP002</td>
									<td>PF</td>
									<td>Projeto FEUP</td>
									<td>1,5</td>
								</tr>
							</tbody>
						</table>
						
						<h4><br>2.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0105</td>
									<td>MEST</td>
									<td>Métodos Estatísticos</td>
									<td>5</td>
								</tr>
								<tr>
									<td>EIC0012</td>
									<td>PROG</td>
									<td>Programação</td>
									<td>7</td>
								</tr>
								<tr>
									<td>EIC0010</td>
									<td>FISI1</td>
									<td>Física I</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0009</td>
									<td>CMAT</td>
									<td>Complementos de Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0016</td>
									<td>MPCP</td>
									<td>Microprocessadores e Computadores Pessoais</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				
				<div class="col-lg-12 span4 collapse-group" align="center">
						<p><a class="btn btn-xl" data-toggle="collapse" data-target="#view2">2.º ano</a></p>
					<div class="collapse" id="view2" align="center">
					<h4><br>1.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0011</td>
									<td>MDIS</td>
									<td>Matemática Discreta</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0083</td>
									<td>AOCO</td>
									<td>Arquitetura e Organização de Computadores</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0005</td>
									<td>FPRO</td>
									<td>Fundamentos da Programação</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0004</td>
									<td>AMAT</td>
									<td>Análise Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0003</td>
									<td>ALGE</td>
									<td>Álgebra</td>
									<td>4,5</td>
								</tr>
								<tr>
									<td>FEUP002</td>
									<td>PF</td>
									<td>Projeto FEUP</td>
									<td>1,5</td>
								</tr>
							</tbody>
						</table>
						
						<h4><br>2.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0105</td>
									<td>MEST</td>
									<td>Métodos Estatísticos</td>
									<td>5</td>
								</tr>
								<tr>
									<td>EIC0012</td>
									<td>PROG</td>
									<td>Programação</td>
									<td>7</td>
								</tr>
								<tr>
									<td>EIC0010</td>
									<td>FISI1</td>
									<td>Física I</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0009</td>
									<td>CMAT</td>
									<td>Complementos de Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0016</td>
									<td>MPCP</td>
									<td>Microprocessadores e Computadores Pessoais</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				
				<div class="col-lg-12 span4 collapse-group" align="center">
						<p><a class="btn btn-xl" data-toggle="collapse" data-target="#view3">3.º ano</a></p>
					<div class="collapse" id="view3" align="center">
					<h4><br>1.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0011</td>
									<td>MDIS</td>
									<td>Matemática Discreta</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0083</td>
									<td>AOCO</td>
									<td>Arquitetura e Organização de Computadores</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0005</td>
									<td>FPRO</td>
									<td>Fundamentos da Programação</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0004</td>
									<td>AMAT</td>
									<td>Análise Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0003</td>
									<td>ALGE</td>
									<td>Álgebra</td>
									<td>4,5</td>
								</tr>
								<tr>
									<td>FEUP002</td>
									<td>PF</td>
									<td>Projeto FEUP</td>
									<td>1,5</td>
								</tr>
							</tbody>
						</table>
						
						<h4><br>2.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0105</td>
									<td>MEST</td>
									<td>Métodos Estatísticos</td>
									<td>5</td>
								</tr>
								<tr>
									<td>EIC0012</td>
									<td>PROG</td>
									<td>Programação</td>
									<td>7</td>
								</tr>
								<tr>
									<td>EIC0010</td>
									<td>FISI1</td>
									<td>Física I</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0009</td>
									<td>CMAT</td>
									<td>Complementos de Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0016</td>
									<td>MPCP</td>
									<td>Microprocessadores e Computadores Pessoais</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				
				<div class="col-lg-12 span4 collapse-group" align="center">
						<p><a class="btn btn-xl" data-toggle="collapse" data-target="#view4">4.º ano</a></p>
					<div class="collapse" id="view4" align="center">
					<h4><br>1.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0011</td>
									<td>MDIS</td>
									<td>Matemática Discreta</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0083</td>
									<td>AOCO</td>
									<td>Arquitetura e Organização de Computadores</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0005</td>
									<td>FPRO</td>
									<td>Fundamentos da Programação</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0004</td>
									<td>AMAT</td>
									<td>Análise Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0003</td>
									<td>ALGE</td>
									<td>Álgebra</td>
									<td>4,5</td>
								</tr>
								<tr>
									<td>FEUP002</td>
									<td>PF</td>
									<td>Projeto FEUP</td>
									<td>1,5</td>
								</tr>
							</tbody>
						</table>
						
						<h4><br>2.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0105</td>
									<td>MEST</td>
									<td>Métodos Estatísticos</td>
									<td>5</td>
								</tr>
								<tr>
									<td>EIC0012</td>
									<td>PROG</td>
									<td>Programação</td>
									<td>7</td>
								</tr>
								<tr>
									<td>EIC0010</td>
									<td>FISI1</td>
									<td>Física I</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0009</td>
									<td>CMAT</td>
									<td>Complementos de Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0016</td>
									<td>MPCP</td>
									<td>Microprocessadores e Computadores Pessoais</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				
				<div class="col-lg-12 span4 collapse-group" align="center">
						<p><a class="btn btn-xl" data-toggle="collapse" data-target="#view5">5.º ano</a></p>
					<div class="collapse" id="view5" align="center">
					<h4><br>1.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0011</td>
									<td>MDIS</td>
									<td>Matemática Discreta</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0083</td>
									<td>AOCO</td>
									<td>Arquitetura e Organização de Computadores</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0005</td>
									<td>FPRO</td>
									<td>Fundamentos da Programação</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0004</td>
									<td>AMAT</td>
									<td>Análise Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0003</td>
									<td>ALGE</td>
									<td>Álgebra</td>
									<td>4,5</td>
								</tr>
								<tr>
									<td>FEUP002</td>
									<td>PF</td>
									<td>Projeto FEUP</td>
									<td>1,5</td>
								</tr>
							</tbody>
						</table>
						
						<h4><br>2.º semestre</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>Créditos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EIC0105</td>
									<td>MEST</td>
									<td>Métodos Estatísticos</td>
									<td>5</td>
								</tr>
								<tr>
									<td>EIC0012</td>
									<td>PROG</td>
									<td>Programação</td>
									<td>7</td>
								</tr>
								<tr>
									<td>EIC0010</td>
									<td>FISI1</td>
									<td>Física I</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0009</td>
									<td>CMAT</td>
									<td>Complementos de Matemática</td>
									<td>6</td>
								</tr>
								<tr>
									<td>EIC0016</td>
									<td>MPCP</td>
									<td>Microprocessadores e Computadores Pessoais</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				
				
            </div>
        </div>
    </section>
	<!--
	
    <section id="estatisticas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Dados Estatísticos</h2>
					<h4>Opção de ingresso no curso</h4>
					
					

                </div>
            </div>
		</div>
	</section>

	-->
    <!-- Team Section -->
    <section id="alunos" class="bg-light-gray" ng-controller="studentCtrl as st">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">{{st.students.heading}}</h2>
                    <h3 class="section-subheading text-muted">{{st.students.subheading}}</h3>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="stu in st.students.content">
                    <div class="col-sm-3" >
                        <div class="team-member">
                            <img src="{{stu.image}}" class="img-responsive img-circle" alt="">
                            <h4>{{stu.name}}</h4>
                            <p class="text-muted">{{stu.mail}}</p>
                            

                        </div>

                    </div>
                    <br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0"><br ng-if="($index+1)%3 == 0">
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-10 text-center">
                    <p class="large text-muted"><a>Ver mais...</a></p>
                </div>
            </div>
        </div>
    </section>
	
	<section id="projetos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Projetos Desenvolvidos</h2>
                    <h3 class="section-subheading text-muted">Uma listagem não exaustiva de alguns projetos desenvolvidos em cadeiras deste curso.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                        </div>
                        <img src="img/UP/mieic_p1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jogo "Raiden"</h4>
                        <p class="text-muted">Cadeira: LPOO</p>
                    </div>
                </div>
				<div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                        </div>
                        <img src="img/UP/mieic_p2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Site "uni-X"</h4>
                        <p class="text-muted">Cadeira: LDSO</p>
                    </div>
                </div>
				<div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                        </div>
                        <img src="img/UP/mieic_p3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Apresentação "Rosewood Hotels"</h4>
                        <p class="text-muted">Cadeira: GEMP</p>
                    </div>
                </div>
        </div>
    </section>
</div>

    <footer>
        <div class="container">
            <div class="row">
			<p><p><p>
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; uni-X 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="mailto:ei11161@fe.up.pt"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li><a href="https://github.com/dsantost/LDSO-T4.3"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.pivotaltracker.com/n/projects/1172810"><i class="fa fa-tasks"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/dsantost/LDSO-T4.3/wiki">Wiki</a>
                        </li>
                        <li><a href="https://moodle.up.pt/course/view.php?id=2580">Moodle</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- perfil Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
